.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.title {
  margin: 4rem auto 0 auto;
  overflow-x: hidden;
  font-size: max(4rem, 100%);
  line-height: 1.5;
  white-space: nowrap;
}

.subtitle {
  margin: 0 auto 4rem auto;
  color: grey;
  font-weight: 400;
  font-size: medium;
}

.content {
  width: 60%;
  margin: 0 auto;
  font-size: 1.3rem;
  line-height: 2rem;
}
