---
---

<html lang="en">
  <body>
    <a href="/">Home</a><br />
    <p>Counter value: <span id="count">0</span></p>
    <button id="counter" style="user-select: none;">Count</button>
  </body>
  <script>
    /**
     * The `span` element that displays the count.
     * @type {HTMLSpanElement}
     */
    const span: HTMLSpanElement = document.getElementById("count");

    /**
     * The value of the counter.
     * @type {number}
     */
    let count: number = Number.parseInt(span.textContent);

    // When the button is clicked, increment count and put it's new value into span.
    document
      .getElementById("counter")
      .addEventListener(
        "click",
        () => (span.textContent = (++count).toString())
      );
  </script>
</html>
