---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>pjmatthews.dev</title>
  </head>
  <body>
    <a href="/">Home</a>
    <br />
    <a href="/counter">Counter</a>
    <br />
    <a href="/gol">Game of Life</a>
  </body>
</html>
