---
---

<html lang="en">
  <body>
    <a href="/">Home</a>
    <br />
    <a href="/counter">Counter</a>
    <br />
    <a href="/counter-component">Counter as an Astro component</a>
    <br />
    <a href="/counter-endpoint">Counter with endpoint</a>
  </body>
</html>
