---
import Counter from "@components/counter.astro";
---

<html lang="en">
  <body>
    <a href="/">Home</a>
    <br />
    <a href="/counter">Counter</a>
    <br />
    <Counter />
  </body>
</html>
