---
---

<html lang="en">
  <body>
    <a href="/">Home</a><br />
    <br />
    <a href="/counter">Counter</a>
    <p>Counter value: <span id="count">0</span></p>
    <button id="counter" style="user-select: none;">Count</button>
  </body>
  <script src="@scripts/counter-endpoint.ts"></script>
</html>
