---
---

<html lang="en">
  <body>
    <a href="/">Home</a>
    <br />
    <a href="/counter">Counter</a>
    <p>Counter value: <span id="count">0</span></p>
    <button id="counter" style="user-select: none;">Count</button>
  </body>
  <script>
    /**
     * The `span` element that displays the count.
     * @type {HTMLSpanElement}
     */
    const span: HTMLSpanElement = document.getElementById("count");

    /**
     * The value of the counter.
     * @type {number}
     */
    let count: number = Number.parseInt(span.textContent);

    const worker: Worker = new Worker("../scripts/worker.ts");

    /**
     * The button that triggers a count.
     * @type {HTMLButtonElement}
     */
    // @ts-expect-error type declarations don't work well with in-line scripts
    const counter: HTMLButtonElement = document.getElementById("counter");

    counter.addEventListener("click", () => {
      counter.textContent = "Counting...";
      counter.disabled = true;
      worker.postMessage(count);
    });

    worker.addEventListener("message", ({ data }) => {
      span.textContent = count = data;
      counter.textContent = "Count";
      counter.disabled = false;
    });
  </script>
</html>
